<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1 class="heading">Using Templating Engine shitty</h1>
    <p>this is using var <%=title%></p>
  </body>
</html>
