body {
  padding: 5px;
  background-color: rgb(36, 34, 34);
  height: 100vh;
  color: rgb(233, 194, 194);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading {
  background-color: blueviolet;
  padding: 5px;
  border-radius: 5px;
}
.contents {
  background-color: blueviolet;
  padding: 5px;
  border-radius: 5px;
}
